<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" th:href="@{/css/style.css}" href="#">
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>Error 404 - Not found</title>
</head>
<body>
	<div class="container text-center">
		<h1 style="padding-top: 150px; font-size: 100px">404 <span style="color:#118496 ">ERROR</span></h1>
		<p>Ups... Página no encontrada</p>
		<br>
		<hr>
		<button class="btn btn-lg btn-info btn-block" type="submit">Volver</button>
		<hr>
	</div>
</body>
</html>
