@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin-top: 7%;
  margin-left: 44.5%;
}

.form {
  position: relative;
  z-index: 1;
  background: transparent;
  padding: 20px;
  text-align: center;
}

.form input {
  font-family: "Roboto", sans-serif;
  background: transparent;
  border-radius: 5px;
  padding: 22px;
  font-size: 16px;
  color: #4f4f4f;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #118496;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #006878;
}

.message {
  margin: 15px 0 0;
  color: #69879F;
  font-size: 12px;
}

.message a {
  color: #4f4f4f;
}

.header{
  position: absolute;
  top: calc(47% - 35px);
  left: calc(47% - 255px);
}

body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

img {
  width: 68%;
}