@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 19px;
}
.title {
	text-align: center;
	font-size: 30px;
	padding: 30px;
	font-family: Roboto, sans-serif;
}
.row {
        display: inline-block;
        margin: 15px;
    }
#destacado {
	color: #118496 !important;
}
.nav{

}
.cont{
    
display: block;
}

.left{
    display:table-cell;
    width:20%;
    
}
.line{
    width: 100%;
}
.line2{
    width:70%;
}
.center{
    display:table-cell;
    text-align: center;
    width:60%;
}
.right{
    display:table-cell;
    width:20%;
    
}
#tr:hover {
	-webkit-transform:scale(1.3);
	transform:scale(1.2);
}