<!DOCTYPE html>
<html>
<head>
<title>Búsqueda</title>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script th:src="@{/js/all.js}"></script>
<link rel="stylesheet" th:href="@{/css/styles.css}" href="#">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header
		class="navbar navbar-expand bg-light flex-column flex-md-row bd-navbar">
		<a class="navbar-brand mr-0 mr-md-2 float-left" href="#"> <img
			style="width: 170px" th:src="@{/images/LFC1.png}" alt="Logo">
		</a>
		<ul class="navbar-nav ml-md-auto">
			<li class="nav-item"><a class="nav-link btn btn-outline-info"
				href="#" th:href="@{/login?logout}">Salir</a></li>
		</ul>
	</header>
	<br>
	<div class="container">
		<div class="row ">
			<main role="main" class="col-lg-12">
				<h4>Buscar asesor por número de cédula</h4>
				<form th:action="@{/busqueda/buscar}" th:object="${asesor}"
					method="get" class="form-inline">
					<div class="form-group mb-4">
						<label for="nroCedula" class="sr-only">Nombre del asesor</label> <input
							th:field="*{nroCedula}" type="text" class="form-control"
							placeholder="Número de cédula">
						<button style="margin-left: 20px;" type="submit"
							class="btn btn-outline-info">Buscar</button>
						<a href="#" th:href="@{/asesor/showAsesores}">
							<button style="margin-left: 20px;" type="button"
								class="btn btn-info">Volver</button>
						</a>
					</div>
				</form>
				<div th:if="${resultado == 1}" class="alert alert-success"
					role="alert">
					<h5 class="alert-heading">Asesor eliminado satisfactoriamente.</h5>
				</div>
				<div th:if="${resultado == 0}" class="alert alert-danger"
					role="alert">
					<h5 class="alert-heading">Ha ocurrido un error al eliminar al
						asesor.</h5>
				</div>
				<div th:if="${result == 1}" class="alert alert-danger" role="alert">
					<h5 class="alert-heading">No existe asesor que corresponda.</h5>
				</div>
				<div th:if="${result == 0}" class="alert alert-danger" role="alert">
					<h5 class="alert-heading">Debe ingresar un número de cédula
						para la búsqueda</h5>
				</div>
				<br>
				<div class="table-responsive">
					<table class="table table-sm table-hover">
						<thead>
							<tr>
								<th>Nro. Cédula</th>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Correo electrónico</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="asesor : ${asesorPorNombre}"
								th:if="${asesor.estado == 1}">
								<td th:text="${asesor.nroCedula}"></td>
								<td th:text="${asesor.nombre}"></td>
								<td th:text="${asesor.apellido}"></td>
								<td th:text="${asesor.email}"></td>
								<td><a href="#"
									th:href="@{/asesor/agregar?idAsesor=__${asesor.idAsesor}__}">
										<button type="button" class="btn btn-outline-warning">Editar</button>
								</a> <a href="#"
									th:href="@{/asesor/removeAsesor?idAsesor=__${asesor.idAsesor}__}">
										<button type="button" class="btn btn-outline-danger">Eliminar</button>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</main>
		</div>
	</div>
</body>
</html>