<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script th:src="@{/js/all.js}"></script>
<title>Administrar Certificados de Calidad</title>

</head>
<body>
	<header
		class="navbar navbar-expand bg-light flex-column flex-md-row bd-navbar">
		<a class="navbar-brand mr-0 mr-md-2 float-left" href="#"> <img
			style="width: 170px" th:src="@{/images/LFC1.png}" alt="Logo">
		</a>
		<ul class="navbar-nav ml-md-auto">
			<li class="nav-item"><a class="nav-link btn btn-outline-info"
				href="#" th:href="@{/login?logout}">Salir</a></li>
		</ul>
	</header>
	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu"
				class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<div class="sidebar-sticky pt-3">
					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link active" href="#"
							th:href="@{/administrar/showInmuebles}"> <i
								class="fas fa-home"></i> Inmuebles<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link active" href="#"
							th:href="@{/asesor/showAsesores}"> <i class="fas fa-user"></i>
								Asesores<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link active" href="#"
							th:href="@{/ciudad/showCiudades}"> <i class="fas fa-city"></i>
								Ciudades<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link active" href="#"
							th:href="@{/agencia/showAgencias}"> <i
								class="fas fa-building"></i> Agencias<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link active" href="#"
							th:href="@{/certificado/showCertificados}"> <i
								class="fas fa-scroll"></i> Certificados<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link active" href="#"
							th:href="@{/consultacliente/showConsultas}"> <i
								class="fas fa-search"></i> Consultas<span class="sr-only">(current)</span>
						</a></li>
					</ul>
					<br> <br>
					<hr>
					<ul class="nav flex-column mb-2 justify-content-end">
						<li class="nav-item"><a class="nav-link" href="#"
							th:href="@{/index}"> Volver al inicio</a></li>
					</ul>
				</div>
			</nav>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
				<br>
				<div class="btn-toolbar mb-2 mb-md-0">
					<h2>Certificados</h2>
					<a href="#" th:href="@{/certificado/agregar?idCertificado=0}">
						<button style="margin-left: 20px;" type="submit"
							class="btn btn-outline-info">Agregar</button>
					</a>
				</div>
				<div th:if="${result == 1}" class="alert alert-success" role="alert">
					<h5 class="alert-heading">Certificado añadido
						satisfactoriamente.</h5>
				</div>
				<div th:if="${result == 0}" class="alert alert-danger" role="alert">
					<h5 class="alert-heading">Ha ocurrido un error al añadir el
						certificado.</h5>
				</div>
				<div th:if="${resultado == 1}" class="alert alert-success"
					role="alert">
					<h5 class="alert-heading">Certificado eliminada
						satisfactoriamente.</h5>
				</div>
				<div th:if="${resultado == 0}" class="alert alert-danger"
					role="alert">
					<h5 class="alert-heading">Ha ocurrido un error al eliminar el
						certificado.</h5>
				</div>
				<br>
				<div class="table-responsive">
					<table class="table table-sm table-hover">
						<thead>
							<tr>
								<th>Titulo</th>
								<th>Descripción</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="certificado : ${certificados}"
								th:if="${certificado.estado == 1}">

								<td th:text="${certificado.titulo}"></td>
								<td th:text="${certificado.descripcion}"></td>
								<td><a href="#"
									th:href="@{/certificado/agregar?idCertificado=__${certificado.idCertificado}__}">
										<button type="button" class="btn btn-outline-warning">Editar</button>
								</a> <a href="#"
									th:href="@{/certificado/removeCertificado?idCertificado=__${certificado.idCertificado}__}">
										<button type="button" class="btn btn-outline-danger">Eliminar</button>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</main>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</body>
</html>